# Virtual environment
venv/
.env

# Logs
logs/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# VSCode / IDE configs
.vscode/
.idea/

# Build / packaging
*.egg-info/
dist/
build/